@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
*{
box-sizing: border-box;
}
body{
  padding: 0;
  margin:0;

}
#root{
  padding:0;
  margin:0;

  display:flex;
  flex-direction: column;
  // // grid:{
  // //   template:{
  // //     rows:auto auto auto;
  // //     columns:auto;
  // //   }
  // // row-gap: 2vh;
  // }
  justify-content: space-between;
}

.main-header{
  z-index:1000;
  margin:0;
  padding:0.5rem;
  display:grid;
  justify-content: center;
  align-content:center;
  @media (min-width:40rem){
    padding:0;
    grid-template-rows:6vh;
    grid-template-columns: 10vw 10vw;
    justify-content: center;
    column-gap: 65vw;
  }
  background:radial-gradient(circle at 5% 5%,  #6c91ff, transparent),
              radial-gradient(circle at 50% 5%, #5d84fa, transparent ),
              radial-gradient(circle at 95% 5%, #4169E1, transparent),
              radial-gradient(circle at 95% 95%, #4169E1, transparent),
              radial-gradient(ellipse at 50% 95%, #4169E1,#3567ff),
              radial-gradient(circle at 5% 95%, #4169E1 , #0e43e4);

  .main-header__heading{
    margin:0;
    padding:0;
    justify-self: center;
    align-self: center;
    
  
    .main-header__brand{
      margin:0;
      padding:0;
      color:white;
      font-size:1.7rem;
      font-family: 'Quicksand', sans-serif;
    }
    
  }

    .main-header__links{
 
     font-family: 'Karla', sans-serif;
      font-size:0.8rem;
      font-weight: 600;
      margin:0;
      padding:0;
      list-style:none;
      .main-header__link{
        margin:0 20px;
        cursor: pointer;
        color:white;
        text-decoration: none;
      }
       @media (min-width:40rem){
       
         align-self: center;
         .main-header__link{
           margin:0 10px;
            font-size: 1rem;
            font-weight: medium;
         }
      }
    }
   
  
  

}

.background_color{
  animation:opacityOnly 400ms;
  z-index: -1;
  background:blue;
  background-image:radial-gradient(circle at 5% 5%, rgba(255, 50, 101, 0.39),rgba(247, 116, 155, 0.719)),
                    radial-gradient(circle at 95% 95%, rgba(245, 36, 151, 0.712), rgba(252, 62, 182, 0.692)),
                    radial-gradient(circle at 95% 5%, rgba(255, 0, 140, 0.774), rgb(255, 0, 157));
  
  box-shadow: inset 2px -2px 5px rgb(252, 95, 134),
              inset -2px 0px 5px rgb(255, 94, 134);
  height:40%;
  width:100%;
  position: absolute;
  top:0%;
}
.dash-section{
  display:flex;
  justify-content: center;
  animation:pop 500ms 00ms cubic-bezier(0,1.5,0.5,1);
  .main-dash{
    display:grid;
    grid-template-rows:15% 70% 15%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "header header header"
                          "main main main"
                          "last last last";
    row-gap:1vh;
      box-shadow: 
    8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 10px 0 rgba(255, 255, 255, 0.3);
  text-align: center;
   background: linear-gradient(-45deg, rgb(255, 248, 248), rgb(255, 255, 255));
  height:80vh;
  width:95vw;
  margin-top:5vh;
  border-radius:20px;
  
  .main-dash__strip{
    grid-area:header;
    border-radius: 20px 20px 0 0 ;
    background:radial-gradient(circle at 5% 5%,  #6c91ff, transparent),
              radial-gradient(circle at 50% 5%, #5d84fa, transparent ),
              radial-gradient(circle at 95% 5%, #4169E1, transparent),
              radial-gradient(circle at 95% 95%, #4169E1, transparent),
              radial-gradient(ellipse at 50% 95%, #4169E1,#3567ff),
              radial-gradient(circle at 5% 95%, #4169E1 , #0e43e4);

    padding:5vh;
    color:rgb(253, 246, 246);
    font-family: 'Quicksand', sans-serif;

    animation:opacityOnly 400ms linear;
   box-shadow:inset 2px 2px 5px rgba(65, 65, 204, 0.356);
    h1{
      margin:0;
      font-size:1rem;
      font-weight: bold;
      animation: opacityOnly 450ms cubic-bezier(0,1.5,0.5,1);
    }
  }
  @media (min-width:40rem){
    .main-dash__strip{
      border-radius:25px 25px 0 0;
      h1{
   font-size:2rem;
     font-weight: bold;
      }}
   

    width:75vw;
    height:85vh;
    margin-top:8vh;
    border-radius:25px;
  }


}
}

.background_image{
 
  img{
    position:absolute;
    z-index: -2;
    width:100%;
    height:100%;
    top:10%;
    left:0;
    opacity:0.8;
    filter:blur(1px);
  }

}


.footer-section{
  
  position: relative;
  width:100%;
  bottom:0%;
  margin-top:100px;
  p{
    margin:0;
  }
  &__main{
     
      font-family: 'Quicksand', sans-serif;
      font-size:1rem;
      color:white;
       background:radial-gradient(circle at 5% 5%,  #6c91ff, transparent),
              radial-gradient(circle at 50% 5%, #5d84fa, transparent ),
              radial-gradient(circle at 95% 5%, #4169E1, transparent),
              radial-gradient(circle at 95% 95%, #4169E1, transparent),
              radial-gradient(circle at 50% 95%, #4169E1,#3567ff),
              radial-gradient(circle at 5% 95%, #4169E1 , #0e43e4),
              radial-gradient(circle at 50% 50% , rgb(42, 42, 255) ,rgb(85, 85, 255));
      box-shadow: 0px -2px 5px rgba(165, 165, 165, 0.767),
                inset 0px 0.5px 5px rgba(82, 99, 255, 0.685);
      display:grid;
      grid-template-columns: auto auto auto;
      

    @media (min-width:40rem){
        font-size:1.2rem;
        align-items:center;
       
     }
    div{
      padding:20px;
      text-align: center;
    }
  
  }

  &__links{
    display:flex;
   flex-direction: column;
   justify-content: space-between;
   a{
        margin:2vh 0;
      }
   font-size:1.5rem;
   a{
     margin:1px 0;
     cursor:pointer;
   }
  }
  @media (min-width:40rem){
    &__links{
      font-size:30px;
      flex-direction: row;
      a{
        margin:0 2vw;
      }
    }
   
  }
}

.authform-section{
  font-family: 'Quicksand', sans-serif;
  display:flex;
  justify-content: center;
  margin-top:5vh;
  .auth-form{
    display:grid;
    grid-template-rows:auto auto;
    row-gap:10px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      border-radius: 50px;
    background:white;
    max-width: 500px;
    min-width: 300px;
    min-height: 420px;
    height:65vh;
    width:85vw;
    animation:slideIn 500ms 00ms cubic-bezier(0,1.5,0.5,1);
    .main-form{
      height:250px;
      display: grid;
      align-content: center;
      justify-items: center;
      grid-template-rows:auto;
      grid-template-columns: auto;
      row-gap:2px;
      input{
        vertical-align: middle;
        width:90%;
        height:90%;
        padding:15px 10px;
        border-radius: 50px;
        border:0.2px solid rgba(96, 96, 245, 0.712);
        outline:none;
        
      }
      label{
        padding:5px 0;
        
        font-size:1.5rem;
        font-weight: bold;
      }
      button{
        font-size:1rem;
        width:90%;
        padding:15px;
        background-color: rgba(0, 0, 255, 0.582);
        border:none;
        outline:none;
       color:white;
        border-radius:20px;
        margin-top:3px;
       
      }
    }
  }
}

.auth-form__strip{
  color:white;
  font-size:1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50px 50px 0 0;
        text-align: center;
        background:radial-gradient(circle at 5% 5%,  #6c91ff, transparent),
              radial-gradient(circle at 50% 5%, #5d84fa, transparent ),
              radial-gradient(circle at 95% 5%, #4169E1, transparent),
              radial-gradient(circle at 95% 95%, #4169E1, transparent),
              radial-gradient(circle at 50% 95%, #4169E1,#3567ff),
              radial-gradient(circle at 5% 95%, #4169E1 , #0e43e4),
              radial-gradient(circle at 50% 50% , rgb(42, 42, 255) ,rgb(85, 85, 255));
      }
@keyframes opacityOnly{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes pop{
  0%{

    transform: translateY(80px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slide{
  0%{
    transform: translateX(80px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes slideIn{
  100%{
    transform: translateX(0);
    opacity:1;
  }
  0%{
    opacity: 0;
    transform: translateX(30px);
  }
}