@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: #fafafa; }

#root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-header {
  z-index: 1000;
  margin: 0;
  padding: 0.5rem;
  display: grid;
  justify-content: center;
  align-content: center;
  background: radial-gradient(circle at 5% 5%, #6c91ff, transparent), radial-gradient(circle at 50% 5%, #5d84fa, transparent), radial-gradient(circle at 95% 5%, #4169E1, transparent), radial-gradient(circle at 95% 95%, #4169E1, transparent), radial-gradient(ellipse at 50% 95%, #4169E1, #3567ff), radial-gradient(circle at 5% 95%, #4169E1, #0e43e4); }
  @media (min-width: 40rem) {
    .main-header {
      padding: 0;
      grid-template-rows: 6vh;
      grid-template-columns: 10vw 10vw;
      justify-content: center;
      column-gap: 65vw; } }
  .main-header .main-header__heading {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center; }
    .main-header .main-header__heading .main-header__brand {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1.7rem;
      font-family: 'Quicksand', sans-serif; }
  .main-header .main-header__links {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    list-style: none; }
    .main-header .main-header__links .main-header__link {
      margin: 0 20px;
      cursor: pointer;
      color: white;
      text-decoration: none; }
    @media (min-width: 40rem) {
      .main-header .main-header__links {
        align-self: center; }
        .main-header .main-header__links .main-header__link {
          margin: 0 10px;
          font-size: 1rem;
          font-weight: medium; } }

.background_color {
  animation: opacityOnly 400ms;
  z-index: -1;
  background: blue;
  background-image: radial-gradient(circle at 5% 5%, rgba(255, 50, 101, 0.39), rgba(247, 116, 155, 0.719)), radial-gradient(circle at 95% 95%, rgba(245, 36, 151, 0.712), rgba(252, 62, 182, 0.692)), radial-gradient(circle at 95% 5%, rgba(255, 0, 140, 0.774), #ff009d);
  box-shadow: inset 2px -2px 5px #fc5f86, inset -2px 0px 5px #ff5e86;
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0%; }

.dash-section {
  display: flex;
  justify-content: center;
  animation: pop 500ms 0ms cubic-bezier(0, 1.5, 0.5, 1); }
  .dash-section .main-dash {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "header header header" "main main main" "last last last";
    row-gap: 1vh;
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25), -4px -4px 10px 0 rgba(255, 255, 255, 0.3);
    text-align: center;
    background: linear-gradient(-45deg, #fff8f8, white);
    height: 80vh;
    width: 95vw;
    margin-top: 5vh;
    border-radius: 20px; }
    .dash-section .main-dash .main-dash__strip {
      grid-area: header;
      border-radius: 20px 20px 0 0;
      background: radial-gradient(circle at 5% 5%, #6c91ff, transparent), radial-gradient(circle at 50% 5%, #5d84fa, transparent), radial-gradient(circle at 95% 5%, #4169E1, transparent), radial-gradient(circle at 95% 95%, #4169E1, transparent), radial-gradient(ellipse at 50% 95%, #4169E1, #3567ff), radial-gradient(circle at 5% 95%, #4169E1, #0e43e4);
      padding: 5vh;
      color: #fdf6f6;
      font-family: 'Quicksand', sans-serif;
      animation: opacityOnly 400ms linear;
      box-shadow: inset 2px 2px 5px rgba(65, 65, 204, 0.356); }
      .dash-section .main-dash .main-dash__strip h1 {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
        animation: opacityOnly 450ms cubic-bezier(0, 1.5, 0.5, 1); }
    @media (min-width: 40rem) {
      .dash-section .main-dash {
        width: 75vw;
        height: 85vh;
        margin-top: 8vh;
        border-radius: 25px; }
        .dash-section .main-dash .main-dash__strip {
          border-radius: 25px 25px 0 0; }
          .dash-section .main-dash .main-dash__strip h1 {
            font-size: 2rem;
            font-weight: bold; } }

.background_image img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  opacity: 0.8;
  filter: blur(1px); }

.footer-section {
  position: relative;
  width: 100%;
  bottom: 0%;
  margin-top: 100px; }
  .footer-section p {
    margin: 0; }
  .footer-section__main {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: white;
    background: radial-gradient(circle at 5% 5%, #6c91ff, transparent), radial-gradient(circle at 50% 5%, #5d84fa, transparent), radial-gradient(circle at 95% 5%, #4169E1, transparent), radial-gradient(circle at 95% 95%, #4169E1, transparent), radial-gradient(circle at 50% 95%, #4169E1, #3567ff), radial-gradient(circle at 5% 95%, #4169E1, #0e43e4), radial-gradient(circle at 50% 50%, #2a2aff, #5555ff);
    box-shadow: 0px -2px 5px rgba(165, 165, 165, 0.767), inset 0px 0.5px 5px rgba(82, 99, 255, 0.685);
    display: grid;
    grid-template-columns: auto auto auto; }
    @media (min-width: 40rem) {
      .footer-section__main {
        font-size: 1.2rem;
        align-items: center; } }
    .footer-section__main div {
      padding: 20px;
      text-align: center; }
  .footer-section__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem; }
    .footer-section__links a {
      margin: 2vh 0; }
    .footer-section__links a {
      margin: 1px 0;
      cursor: pointer; }
  @media (min-width: 40rem) {
    .footer-section__links {
      font-size: 30px;
      flex-direction: row; }
      .footer-section__links a {
        margin: 0 2vw; } }

.authform-section {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5vh; }
  .authform-section .auth-form {
    display: grid;
    grid-template-rows: 100px 200px;
    row-gap: 10px;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.25), -4px -4px 8px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    background: white;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 350px;
    height: 45vh;
    width: 70vw;
    animation: slideIn 500ms 0ms cubic-bezier(0, 1.5, 0.5, 1); }
    .authform-section .auth-form .main-form {
      align-self: center;
      display: grid;
      align-content: center;
      justify-items: center;
      grid-template-rows: auto;
      padding: 0 5px; }
      .authform-section .auth-form .main-form input {
        vertical-align: middle;
        background: #fafafa;
        box-shadow: 1px 1px 1.5px 0 rgba(148, 148, 148, 0.25), -1px -1px 1.5px 0 rgba(148, 148, 148, 0.25);
        width: 90%;
        height: 70%;
        padding: 15px 20px;
        border-radius: 50px;
        border: 0.2px solid rgba(96, 96, 245, 0.712);
        outline: none;
        align-self: center; }
      .authform-section .auth-form .main-form label {
        padding: 0.2px 0;
        align-self: center;
        font-size: 1rem; }
      .authform-section .auth-form .main-form button {
        font-size: 0.9rem;
        width: 90%;
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.582);
        box-shadow: inset 2px 2px 5px rgba(53, 53, 219, 0.527), inset -5px -5px 10px rgba(44, 44, 255, 0.685);
        border: none;
        outline: none;
        color: white;
        border-radius: 50px;
        margin-top: 15px; }

input:focus {
  background: rgba(255, 255, 255, 0) !important;
  border: 0.8px solid rgba(80, 80, 247, 0.911) !important;
  box-shadow: 1px 1px 3px 0 rgba(148, 148, 148, 0.25), -1px -1px 3px 0 rgba(148, 148, 148, 0.25); }

.auth-form__strip {
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-radius: 50px 50px 0 0;
  text-align: center;
  background: radial-gradient(circle at 5% 5%, #6c91ff, transparent), radial-gradient(circle at 50% 5%, #5d84fa, transparent), radial-gradient(circle at 95% 5%, #4169E1, transparent), radial-gradient(circle at 95% 95%, #4169E1, transparent), radial-gradient(circle at 50% 95%, #4169E1, #3567ff), radial-gradient(circle at 5% 95%, #4169E1, #0e43e4), radial-gradient(circle at 50% 50%, #2a2aff, #5555ff); }

@keyframes opacityOnly {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes pop {
  0% {
    transform: translateY(80px); }
  100% {
    transform: translateY(0); } }
@keyframes slide {
  0% {
    transform: translateX(80px); }
  100% {
    transform: translateX(0px); } }
@keyframes slideIn {
  100% {
    transform: translateX(0);
    opacity: 1; }
  0% {
    opacity: 0;
    transform: translateX(30px); } }

/*# sourceMappingURL=index.css.map */
